.container {
  max-width: 40rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
 
}

.header {
  display: flex;
  flex-direction: column;
}

.backToHome {
  margin: 3rem 0 0;
}

.MuiDrawer-paper, .MuiPaper-root{
  background-color:#055681
}
 
.MuiDrawer-paper a {
  color:black
}