html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: #062949;
  color:white
}

* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.textfield {
  color: black;
  background-color: white;
}

.MuiDrawer-paper{
  background-color:#055681 !important
}
 
.MuiDrawer-paper a, .MuiDrawer-paper .MuiSvgIcon-root {
  color:white
}

.MuiButton-root {
  background-color: #2BC48A !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  font-weight: bold !important;
}

.MuiButton-root:hover {
  background-color: #0fbd7a !important;
}

.MuiInputBase-root{
  background-color: white  !important;
}

.MuiTableRow-root:hover{
  background-color: rgb(238, 238, 238);
}